<h2 id="title">Ember Master Tab demo</h2>
<p>Is this the master tab? <strong>{{#if masterTab.isMasterTab}}Yes{{else}}No{{/if}}</strong></p>
<pre>
<strong>Current server time (lock)</strong> : {{serverTimeLock.currentTime}} <button disabled={{masterTab.isMasterTab}} {{action 'updateTimeLock'}}>Update here</button>
<strong>Current server time (run)</strong>  : {{serverTimeRun.currentTime}}
<strong>Current server time (sse)</strong>  : {{serverTimeSse.currentTime}}

<strong>Counter [is master tab]</strong>    : {{counterIsMasterTab}}
<strong>Counter [is not master tab]</strong>: {{counterIsNotMasterTab}}
</pre>